# Ignore all tmux plugins except tpm
tmux/.tmux/plugins/*
!tmux/.tmux/plugins/tpm/

# Make sure we ignore installed plugins and plug.vim so the install script downloads it properly
plugged/
neovim/.local/

# Ignore the installed oh-my-zsh
.oh-my-zsh/

.netrwhist
